<!-- text -->
<div id="introducing" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="voffset90"></div>
        <p class="pretitle">Introducing</p>
        <h1 class="title">Addy's Hair Salon</h1>
        <p class="subtitle colored">
          A barber is a person whose occupation is mainly to cut, dress, groom,
          style and shave men's and boys' hair. A barber's place of work is
          known as a ``barber shop``
        </p>
        <ul class="list-horizontal-links"></ul>
        <div class="voffset90"></div>
      </div>
    </div>
  </div>
</div>
