<!-- clients -->
<div class="section review">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="voffset90"></div>
        <p class="pretitle">Brands</p>
        <div class="voffset10"></div>
        <h2 class="subtitle colored big">
          we believe good service is good business
        </h2>
        <div class="voffset80"></div>
        <ul class="clients-inline">
          <li>
            <img src="html/murdock/images/demo/clients/client1.jpg" alt="" />
          </li>
          <li>
            <img src="html/murdock/images/demo/clients/client2.jpg" alt="" />
          </li>
          <li>
            <img src="html/murdock/images/demo/clients/client3.jpg" alt="" />
          </li>
          <li>
            <img src="html/murdock/images/demo/clients/client4.jpg" alt="" />
          </li>
          <li>
            <img src="html/murdock/images/demo/clients/client5.jpg" alt="" />
          </li>
        </ul>
        <div class="voffset90"></div>
      </div>
    </div>
  </div>
</div>
