<!-- contact -->
<div id="contact" class="section">
  <div class="container container-full">
    <div class="row row-no-gutter">
      <div class="col-md-6">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.892497541049!2d70.76290417534703!3d22.28473537969786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca32dbe84b8b%3A0xb78b72f2b83f50eb!2sADDY&#39;S%20HAIR%20SALON!5e1!3m2!1sen!2sin!4v1754718597449!5m2!1sen!2sin"
            style="border: 0; width: inherit; height: inherit"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-basic">
          <div class="voffset400"></div>
          <div class="vcenter text-center">
            <p class="pretitle">phone</p>
            <div class="voffset20"></div>
            <p>1.800.321.9876</p>
            <div class="voffset50"></div>
            <p class="pretitle">email</p>
            <div class="voffset20"></div>
            <p>
              <a href="mailto:hello@murdockdigital.com" class="mailto"
                >hello@murdockdigital.com</a
              >
            </p>
          </div>
        </div>
        <div class="contact-form bg-cream">
          <div class="voffset400"></div>
          <div class="vcenter text-center">
            <p class="pretitle">address</p>
            <div class="voffset40"></div>
            <p style="margin-left: 10%; margin-right: 10%">
              Kruti Apartment, Main Road, Kalavad Rd, Ram Park, Rajkot, Gujarat
              360005
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
