<!-- work -->
<div id="portfolio" class="section">
  <div class="container-fluid">
    <!-- filter gallery -->
    <div class="row">
      <div class="col-md-12">
        <ul class="filters">
          <li
            data-filter="*"
            class="is-checked wow fadeInUp"
            data-wow-delay="0.5s"
          >
            <span>filter portfolio</span>
          </li>
          <li
            data-filter=".publications"
            class="wow fadeInUp"
            data-wow-delay="0.8s"
          >
            Hair Shop
          </li>
          <li data-filter=".webdesign" class="wow fadeInUp" data-wow-delay="1s">
            Moment
          </li>
          <li
            data-filter=".illustration"
            class="wow fadeInUp"
            data-wow-delay="1.2s"
          >
            New Style
          </li>
        </ul>
      </div>
    </div>

    <!-- gallery photos -->
    <div class="row">
      <div class="thumbnails work5">
        <div class="grid-sizer"></div>
        <div class="thumbnail publications">
          <img src="/images/demo/home/gallery1.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">Workshop For Haircut</div>
              <ul class="tags-project">
                <li>Hair Shop</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="thumbnail webdesign">
          <img src="/images/demo/home/gallery2.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">Haircut Designer</div>
              <ul class="tags-project">
                <li>New Style</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="thumbnail illustration">
          <img src="/images/demo/home/gallery3.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">Barber shop</div>
              <ul class="tags-project">
                <li>Moment</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="thumbnail photography">
          <img src="/images/demo/home/gallery4.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">Trim your beard</div>
              <ul class="tags-project">
                <li>Hair Shop</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="thumbnail logos">
          <img src="/images/demo/home/gallery5.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">New design for haircut shop</div>
              <ul class="tags-project">
                <li>New Style</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="thumbnail vectors">
          <img src="/images/demo/home/gallery6.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">Ready to go with us</div>
              <ul class="tags-project">
                <li>Moment</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="thumbnail publications">
          <img src="/images/demo/home/gallery7.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">Prepare a barber shop</div>
              <ul class="tags-project">
                <li>New Style</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="thumbnail photography">
          <img src="/images/demo/home/gallery8.jpg" alt="" />
          <div class="rollover rollover5">
            <div class="vcenter">
              <div class="title-project">Best design for your beard</div>
              <ul class="tags-project">
                <li>Hair Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
