<!-- LOADER -->

<!-- <div id="mask">
  <div class="loader-minimal"></div>
</div> -->

<header id="jHeader" class="invert">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-ex1-collapse"
      >
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img
          src="/images/demo/icons/logo.png"
          alt="logo"
          style="width: 120px"
        />
      </a>
    </div>

    <div
      id="navbar-murdock"
      class="collapse navbar-collapse navbar-ex1-collapse"
    >
      <ul class="nav navbar-nav navbar-right invert">
        <li class="active"><a href="#home">home</a></li>
        <li><a href="#introducing">about</a></li>
        <li><a href="#key-features">services</a></li>
        <li><a href="#portfolio">gallery</a></li>
        <li><a href="#team">team</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </div>
  </nav>
</header>
