<!-- about parallx -->
<div
  class="banner full parallax-section"
  data-parallax-image="/images/demo/home/parallax-about.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="voffset110"></div>
        <h1 class="title colored invert">We are working 24/7</h1>
        <div class="voffset10"></div>
        <p class="subtitle invert">Special opening hours</p>
        <div class="separator invert"></div>
        <p class="subtitle small invert">
          Saturday 17th December: 9:30am - 8pm; Saturday 24th December: 9:30am -
          4pm; Saturday 31th December: 9:30am - 4pm
        </p>
        <div class="voffset140"></div>
      </div>
    </div>
  </div>
</div>
