<!-- banner parallx -->
<div
  class="banner full parallax-section"
  data-parallax-image="/images/demo/home/parallax.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="voffset330"></div>
        <img src="/images/demo/home/parallax-logo.png" alt="" />
        <div class="voffset60"></div>
        <div class="voffset270"></div>
      </div>
    </div>
  </div>
</div>
