<!-- Offers -->
<div class="section experties" style="background-color: #000">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="voffset100"></div>
        <p class="pretitle colored left">Hot Prices</p>
        <h1 class="title invert big left-horizontal">Our Offers</h1>
        <div class="voffset50"></div>
      </div>
      <!--
          <div class="col-md-5">
            <p class="subtitle left-horizontal">whatever method you prefer, we find that wearing them as often as possible provides the best fades.</p>
          </div>-->
    </div>

    <div class="row">
      <div class="col-sm-4 fadeInUp">
        <div class="experient-list">
          <h4 class="title-list-experties colored">
            Hair Cut - Bread Trim $20
          </h4>
          <div class="voffset30"></div>
          <ul class="list-experties">
            <li>Haircut &amp; Bread Trim</li>
            <li>In special offer</li>
            <li>Until 30th June</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 fadeInUp">
        <div class="experient-list">
          <h4 class="title-list-experties colored">Head Massage $10</h4>
          <div class="voffset30"></div>
          <ul class="list-experties">
            <li>Head Massage</li>
            <li>In special offer</li>
            <li>Until 09th July</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 fadeInUp">
        <div class="experient-list">
          <h4 class="title-list-experties colored">Mouslache Trim $8</h4>
          <div class="voffset30"></div>
          <ul class="list-experties">
            <li>Moustache Trim</li>
            <li>In special offer</li>
            <li>Until 09th July</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="voffset150"></div>
      </div>
    </div>
  </div>
</div>
