<!-- diagonal -->
<div id="key-features" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="voffset110"></div>
        <p class="pretitle">Features</p>
        <h1 class="title">Our Services &amp; Prices</h1>
        <p class="subtitle colored">
          Wash + Cut, $13 . Wash and cut with electric trimmer and / or scissors
          with a razor finish. Shave, $15 . With blade. Preparation with foam
          and hot towel.
        </p>
        <div class="voffset110"></div>
      </div>
    </div>
  </div>
</div>

<!-- features -->
<div class="section features">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="horizontal-border fadeInUp">
          <div class="voffset40"></div>
          <img
            src="/images/demo/icons/barber-chair.png"
            alt="Barber chair"
            class="barber-feature"
          />
          <div class="voffset40"></div>
          <h4 class="titlefeat">Haircut</h4>
          <div class="voffset30"></div>
          <p class="textfeat">Awesome and professional Haircut for only $15</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="horizontal-border fadeInUp">
          <div class="voffset40"></div>
          <img
            src="/images/demo/icons/hairstyle.png"
            alt="Barber chair"
            class="barber-feature"
          />
          <div class="voffset40"></div>
          <h4 class="titlefeat">Moustache Trim</h4>
          <div class="voffset30"></div>
          <p class="textfeat">
            Awesome and professional Moustache Trim for only $7
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="horizontal-border fadeInUp">
          <div class="voffset40"></div>
          <img
            src="/images/demo/icons/shaving-brush.png"
            alt="Barber chair"
            class="barber-feature"
          />
          <div class="voffset40"></div>
          <h4 class="titlefeat">Face Shave</h4>
          <div class="voffset30"></div>
          <p class="textfeat">
            Awesome and professional Face Shave for only $9
          </p>
        </div>
      </div>
    </div>
    <div class="voffset80"></div>
    <div class="row">
      <div class="col-sm-4">
        <div class="horizontal-border fadeInUp">
          <div class="voffset40"></div>
          <img
            src="/images/demo/icons/shaving-machine.png"
            alt="Barber chair"
            class="barber-feature"
          />
          <div class="voffset40"></div>
          <h4 class="titlefeat">BreadTrim</h4>
          <div class="voffset30"></div>
          <p class="textfeat">Awesome and professional BreadTrim for only $8</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="horizontal-border fadeInUp">
          <div class="voffset40"></div>
          <img
            src="/images/demo/icons/scissors.png"
            alt="Barber chair"
            class="barber-feature"
          />
          <div class="voffset40"></div>
          <h4 class="titlefeat">Clipper Cut</h4>
          <div class="voffset30"></div>
          <p class="textfeat">
            Awesome and professional Clipper Cut for only $14
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="horizontal-border fadeInUp">
          <div class="voffset40"></div>
          <img
            src="/images/demo/icons/facial-massage.png"
            alt="Barber chair"
            class="barber-feature"
          />
          <div class="voffset40"></div>
          <h4 class="titlefeat">Facial Massage</h4>
          <div class="voffset30"></div>
          <p class="textfeat">
            Awesome and professional Facial Massage for only $20
          </p>
        </div>
      </div>
    </div>
    <div class="voffset110"></div>
  </div>
</div>
