<!-- intro -->
<section class="intro full-width jIntro" id="home">
  <div class="container-full">
    <div class="row row-no-gutter">
      <div class="col-md-12">
        <div class="slider-intro">
          <div id="slides">
            <div class="slides-container">
              <img src="/images/demo/home/slider01.jpg" alt="slide1" />
              <img src="/images/demo/home/slider02.jpg" alt="slide2" />
              <img src="/images/demo/home/slider03.jpg" alt="slide2" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vcenter text-center text-overlay">
      <div id="owl-main-text" class="owl-carousel">
        <div class="item">
          <h1 class="primary-title invert">
            welcome to Addy's Hair Salon <strong>The Barber Shop</strong>
          </h1>
        </div>
        <div class="item">
          <h1 class="primary-title invert">
            welcome to Addy's Hair Salon <strong>The Perfect Haircut</strong>
          </h1>
        </div>
      </div>
      <div class="voffset20"></div>
    </div>
  </div>
</section>
