<!-- team -->
<div id="team" class="section meet-the-team">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="voffset100"></div>
        <p class="pretitle left">Staff</p>
        <h1 class="title left-horizontal">Our Barbers</h1>
      </div>
      <!--
          <div class="col-md-5">
            <p class="subtitle left-horizontal">whatever method you prefer, we find that wearing them as often as possible provides the best fades.</p>
          </div> -->
    </div>

    <div class="row row-no-gutter">
      <div class="col-sm-4 fadeInUp">
        <div class="team-member">
          <img src="/images/demo/team/team1.jpg" alt="" />
          <div class="voffset50"></div>
          <h4 class="name-member">Mack Donovan</h4>
          <p class="position-member">Founder &amp; Boss Barber</p>
          <div class="voffset20"></div>
        </div>
      </div>
      <div class="col-sm-4 fadeInUp">
        <div class="team-member">
          <img src="/images/demo/team/team2.jpg" alt="" />
          <div class="voffset50"></div>
          <h4 class="name-member">David Bravo</h4>
          <p class="position-member">Barber</p>
          <div class="voffset20"></div>
        </div>
      </div>
      <div class="col-sm-4 fadeInUp">
        <div class="team-member">
          <img src="/images/demo/team/team3.jpg" alt="" />
          <div class="voffset50"></div>
          <h4 class="name-member">John Smith</h4>
          <p class="position-member">Barber</p>
          <div class="voffset20"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="voffset100"></div>
      </div>
    </div>
  </div>
</div>
