<!-- Achievements -->
<section class="banner section inverse-color full full-width">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="voffset120"></div>
        <p class="pretitle invert">achievements</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="counter">
          <li class="fadeInUp horizontal-border">
            <p class="number">
              <span
                class="numscroller"
                data-min="1"
                data-max="800"
                data-delay="5"
                data-increment="10"
                >800</span
              >
            </p>
            <p class="title-counter">Hair Cuts</p>
          </li>
          <li class="fadeInUp horizontal-border">
            <p class="number">
              <span
                class="numscroller"
                data-min="1"
                data-max="20"
                data-delay="2"
                data-increment="1"
                >20</span
              >
            </p>
            <p class="title-counter">Bread Trims</p>
          </li>
          <li class="fadeInUp horizontal-border">
            <p class="number">
              <span
                class="numscroller"
                data-min="1"
                data-max="500"
                data-delay="5"
                data-increment="10"
                >500</span
              >
            </p>
            <p class="title-counter">Head Massages</p>
          </li>
          <li class="fadeInUp horizontal-border">
            <p class="number">
              <span
                class="numscroller"
                data-min="1"
                data-max="223"
                data-delay="5"
                data-increment="10"
                >223</span
              >
            </p>
            <p class="title-counter">Satisfied clients</p>
          </li>
          <li class="fadeInUp horizontal-border">
            <p class="number">
              <span
                class="numscroller"
                data-min="1"
                data-max="25"
                data-delay="2"
                data-increment="1"
                >223</span
              >
            </p>
            <p class="title-counter">Coffees</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
