<!-- tabs -->
<div id="tab" class="container-full tabsmodule">
  <div class="row row-no-gutter">
    <div class="col-md-6">
      <div class="banner" id="bg-home-grid0">
        <!-- <div class="voffset720"></div> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="banner-tabs">
        <div class="">
          <!-- vcenter -->
          <ul class="list-horizontal-links carousel-tabs">
            <li class="active"><a href="#">Since 1979</a></li>
          </ul>
          <div class="carusel-tabs-text">
            <div class="carousel-cell">
              <h2 class="title invert">Our History</h2>
              <p>
                Murdock Barber Shop . is a classic upscale barbershop. We offer
                a variety of services, catering to everyone. Hounds is a
                gentleman's shop, reminiscent of the classic barbershop. We are
                striving to bring the memories back, with solely the clientele
                in mind. People pay for quality - Hounds is where you will get
                it.
              </p>
              <p>
                We are barbers who love our craft, providing top notch service
                that helps men Stay Sharp.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
